.BlogsInfo {
  text-align: center;
}
.loader {
  text-align: center;
}
.loader h1 {
  padding: 20px;
}
.readmoreIcon {
  cursor: pointer;
}
.jsbloogImage {
  height: 100px;
}
.commenbox {
  font-size: 30px;
  /* display: block; */
  color: orange;
  cursor: pointer;
  margin-left: 10px;
}
