.blogsContainer {
  padding: 50px 0px;
  background-image: url(../../images/logo/blog.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.nestedDetail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 10px;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  align-items: center;
  background-color: white;
}
.nestedImage {
  transition: 3s ease-in-out;
}
.nestedDetail:hover .nestedImage {
  transform: scale(1.2);
}

.nestedImage img {
  height: 30px;
  width: 30;
}
.nestedLink {
  text-align: center;
  text-decoration: none;
  margin-top: 3px;
  display: block;
  color: black;
  font-size: 30px;
  font-weight: 500;
}
.nestedLink:hover {
  color: black;
}

@media (min-width: 300px) and (max-width: 640px) {
  .blogsContainer {
    padding: 10px;
  }
}
